<div class="h-full-main-layout">
  <app-split-panel>
    <ng-template #leftContent>
      <div class="h-full w-full absolute top-0 left-0">
        <app-all-vehicles-map
          [formattedDevices]="formattedDevices()"
          [firstTimeHasData]="deviceStore.firstTimeHasData()"
          [(selectedDeviceId)]="selectedDeviceId"
        />
      </div>
    </ng-template>

    <ng-template #rightContent>
      <app-all-vehicles-panel [(selectedDeviceId)]="selectedDeviceId" />
    </ng-template>
  </app-split-panel>
</div>
