<div class="h-full flex flex-col">
  @let isCompact = navStyle() === "compact";
  <section
    class="flex items-center justify-between px-4 py-4"
    [class.justify-center]="isCompact"
  >
    <figure class="h-8" [class.hidden]="isCompact">
      <app-logo [width]="118" [height]="32" />
    </figure>
    <button
      (click)="toggleNavStyle()"
      class="text-surface-500 size-8 flex-center rounded cursor-pointer hover:bg-surface-100 transition-colors duration-300"
      [class.!hidden]="!collapseButton()"
    >
      <i
        class="fas"
        [class]="isCompact ? 'fas fa-angles-right' : 'fas fa-angles-left'"
      ></i>
    </button>
  </section>

  <section class="flex-1 overflow-hidden">
    <app-scroll-container styleClass="h-full">
      <app-navigation [navItems]="navItems()" [navStyle]="navStyle()" />
    </app-scroll-container>
  </section>

  <section class="h-10 flex-center">
    <button class="size-8 flex-center" (click)="toggleDarkMode()">
      <i [class]="isDarkMode() ? 'fas fa-moon' : 'fas fa-sun'"></i>
    </button>
    <button class="size-8 flex-center" (click)="logout()">
      <i class="fas fa-power-off"></i>
    </button>
  </section>
</div>
