<div class="h-full-main-layout">
  <app-split-panel>
    <ng-template #leftContent>
      @switch (selectedTabIdx()) {
        @case (0) {
          <app-package
            [selectedDeviceId]="selectedDeviceId()"
            [(selectedPackageDisplay)]="selectedPackageDisplay"
            [(dataFontSizePx)]="packageFontSizePx"
          />
        }
        @case (1) {
          <!-- <app-send-command [selectedConnection]="selectedConnection()" /> -->
        }
      }
    </ng-template>
    <ng-template #rightContent>
      <app-device-panel
        [(selectedTabIdx)]="selectedTabIdx"
        [(selectedDeviceId)]="selectedDeviceId"
      />
    </ng-template>
  </app-split-panel>
</div>
