<div class="flex items-center gap-3 h-9" [class.hidden]="!historyLength() || historyLength() === 0">
  <div class="flex items-center gap-1">
    @let icon =
      currentPlayingIndex() === historyLength()! - 1
        ? 'fas fa-rotate-left'
        : isHistoryPlaying()
          ? 'fas fa-pause'
          : 'fas fa-play';
    <p-button
      (click)="toggleHistoryReplay()"
      [icon]="icon"
      rounded
      size="small"
      [disabled]="historyLength() === 0" />
    <button
      pButton
      (click)="clickStep(-1)"
      icon="fas fa-backward-step"
      rounded
      severity="secondary"
      outlined
      size="small"
      (mousedown)="stepHoldStart(-1)"
      (mouseup)="stepHoldEnd()"
      (mouseleave)="stepHoldEnd()"
      [disabled]="historyLength() === 0"></button>
    <button
      pButton
      (click)="clickStep(1)"
      icon="fas fa-forward-step"
      rounded
      severity="secondary"
      outlined
      size="small"
      (mousedown)="stepHoldStart(1)"
      (mouseup)="stepHoldEnd()"
      (mouseleave)="stepHoldEnd()"
      [disabled]="historyLength() === 0"></button>
  </div>
  <div class="flex-1 h-full flex-center" (wheel)="scrollSlider($event)">
    @let maxSliderValue = historyLength()! > 0 ? historyLength()! - 1 : 100;
    <p-slider
      class="w-full"
      [min]="0"
      [max]="maxSliderValue"
      [(ngModel)]="currentPlayingIndex"
      (onChange)="slideSlider()"
      styleClass="!h-1.5"
      [disabled]="historyLength() === 0" />
  </div>
  <p-select
    appendTo="body"
    [options]="playingSpeedOption"
    [(ngModel)]="selectedPlayingSpeed"
    optionLabel="label"
    optionValue="timeout"
    styleClass="min-w-24"
    size="small"
    (wheel)="scrollPlayingSpeed($event)" />
</div>
