<div class="flex flex-col h-full">
  <div
    class="w-full h-full flex justify-center relative bg-theme-900 dark:bg-theme"
  >
    <video
      class="!w-full !h-full absolute object-contain"
      [muted]="true"
      [id]="livestreamVideo().id"
      controls
    ></video>

    @if (livestreamVideo().error && !livestreamVideo().url) {
      <span
        class="absolute top-2 left-2 px-2 py-1 bg-red-500 rounded font-semibold text-sm text-white"
      >
        {{ livestreamVideo().error }}
      </span>
    }
  </div>

  <div class="bg-theme-900 text-white text-xs dark:bg-theme p-1">
    <div>
      <p>{{ livestreamVideo().url }}</p>
    </div>
    <div class="flex items-center justify-between gap-2">
      <div class="space-x-2">
        <span>{{ livestreamVideo().imei }}</span>
        <span>
          <i class="fa-solid fa-video"></i>
          {{ livestreamVideo().channel }}</span
        >
        <span> {{ livestreamVideo().bandwidth }} kbps</span>
      </div>
      <div class="space-x-2">
        <button
          class="fas fa-rotate-right cursor-pointer"
          (click)="onRefreshLivestream()"
        ></button>
        <button
          class="fas fa-trash-alt cursor-pointer"
          (click)="onCloseLivestream()"
        ></button>
      </div>
    </div>
  </div>
</div>
