<div
  class="flex flex-col p-2 gap-1 border-b border-surface-200 hover:border-primary-300 cursor-pointer"
  [class.shadow-[inset_4px_0_0_0_var(--primary-500)]]="isSelected()"
>
  <section class="flex gap-1 w-full">
    @let isEcoMode = waypoint().formatted.mode?.value === "Eco";
    @let isCharging = waypoint().formatted.battery.isCharging;
    <app-vehicle-icon
      [iconClass]="'bg-car_' + waypoint().formatted.state"
      [isEcoMode]="isEcoMode"
      [isCharging]="isCharging"
    />
    <div class="flex-1">
      <p class="">
        <span
          class="text-xs text-primary-800 dark:text-primary-400 bg-primary-500/20 rounded px-1 py-0.5"
        >
          #{{ index() }}
        </span>
      </p>
      <p class="text-xs text-surface-800 leading-none">
        {{ waypoint().formatted.gpsTime }} -
        {{ waypoint().formatted.relativeGpsTime }}
      </p>
    </div>
  </section>

  <section class="grid grid-cols-4 gap-1">
    <div class="flex items-center gap-1 col-span-4" title="Địa chỉ">
      <figure class="size-5 flex-shrink-0 flex-center shadow-icon rounded-full">
        <i
          class="text-xs fas fa-location-pin text-blue-400 dark:text-blue-500"
        ></i>
      </figure>

      <span class="text-xs text-surface-800 truncate">
        {{ waypoint().formatted.address }}
      </span>
    </div>

    <div class="flex items-center gap-1" title="Pin">
      <figure class="size-5 flex-shrink-0 flex-center shadow-icon rounded-full">
        @let batteryIcon = waypoint().formatted.battery.icon;
        @let batteryIconClass = waypoint().formatted.battery.iconClass;
        @if (batteryIcon) {
          <i class="text-xs" [class]="batteryIconClass + ' ' + batteryIcon"></i>
        }
      </figure>

      <span class="text-xs text-surface-800 truncate">
        {{ waypoint().formatted.battery.value }}
        @if (waypoint().formatted.battery.unit) {
          {{ waypoint().formatted.battery.unit }}
        }
      </span>
    </div>
    @for (info of waypointInfo(); track info.title) {
      <div
        class="flex items-center gap-1"
        [class]="info.colSpan"
        [title]="info.title"
      >
        <figure
          class="size-5 flex-shrink-0 flex-center shadow-icon rounded-full"
        >
          <i class="text-xs" [class]="info.iconClass + ' ' + info.icon"></i>
        </figure>

        <span class="text-xs text-surface-800 truncate">
          {{ info.value }}
          @if (info.unit) {
            {{ info.unit }}
          }
        </span>
      </div>
    }
  </section>
</div>
