<app-split-panel>
  <ng-template #leftContent>
    <div class="h-full w-full splitter-map" id="detail-information-map"></div>
    @if (selectedConnectionStatus()?.status) {
      @let status = selectedConnectionStatus()!.status!;
      <div
        class="absolute bottom-0 md:bottom-2 left-0 md:left-2 z-500 max-w-full"
      >
        <div>
          <p
            class="rounded-t-lg bg-primary-500 text-white text-sm py-1 px-2 font-semibold w-fit"
          >
            {{ selectedConnectionStatus()?.imei }}
          </p>
        </div>
        <div
          class="rounded-lg rounded-tl-none rounded-b-none md:rounded-b-lg bg-white p-3 space-y-4 shadow-xl"
        >
          <div class="flex gap-4">
            <figure
              class="size-20 border-2 rounded-full flex-center"
              [style.border-color]="status.formatted.stateColor"
            >
              @let isEcoMode = status.formatted.mode?.value === "Eco";
              @let isCharging = status.formatted.battery.isCharging;
              <app-vehicle-icon
                [iconClass]="'bg-car_' + status.formatted.state"
                [isEcoMode]="isEcoMode"
                [isCharging]="isCharging"
                [style.transform]="
                  'rotate(' + status.formatted.heading + 'deg)'
                "
              />
            </figure>

            <article class="grid grid-cols-1 gap-2">
              @for (info of locationInfo(); track info.title) {
                <div
                  class="flex items-center gap-1"
                  [title]="info.title"
                  [class]="info.colSpan"
                >
                  <figure
                    class="size-5 flex-shrink-0 flex-center shadow-icon rounded-full"
                  >
                    <i
                      class="text-xs"
                      [class]="info.iconClass + ' ' + info.icon"
                    ></i>
                  </figure>

                  <span class="text-xs truncate text-gray-800">
                    {{ info.value }}
                  </span>
                </div>
              }
            </article>
          </div>

          <div class="flex gap-4">
            <article class="grid grid-cols-2 gap-2">
              @for (info of gpsInfo(); track info.title) {
                <div
                  class="flex items-center gap-1"
                  [title]="info.title"
                  [class]="info.colSpan"
                >
                  <figure
                    class="size-5 flex-shrink-0 flex-center shadow-icon rounded-full"
                  >
                    <i
                      class="text-xs"
                      [class]="info.iconClass + ' ' + info.icon"
                    ></i>
                  </figure>

                  <span class="text-xs truncate text-gray-800">
                    {{ info.value }}
                  </span>
                </div>
              }
            </article>

            <article class="grid grid-cols-3 gap-2">
              @for (info of odoInfo(); track info.title) {
                <div
                  class="flex items-center gap-1"
                  [title]="info.title"
                  [class]="info.colSpan"
                >
                  <figure
                    class="size-5 flex-shrink-0 flex-center shadow-icon rounded-full"
                  >
                    <i
                      class="text-xs"
                      [class]="info.iconClass + ' ' + info.icon"
                    ></i>
                  </figure>

                  <span class="text-xs truncate text-gray-800">
                    {{ info.value }}
                    @if (info.unit) {
                      {{ info.unit }}
                    }
                  </span>
                </div>
              }
            </article>
          </div>
        </div>
      </div>
    }
  </ng-template>

  <ng-template #rightContent>
    <div class="h-full flex flex-col">
      <div class="flex border-b border-surface-300">
        @for (tab of tabs(); track tab.value) {
          <button
            [value]="tab.value"
            (click)="selectedTabIndex.set(tab.value)"
            class="px-3 py-2 font-medium cursor-pointer text-surface-500 border-b-2 border-surface hover:text-surface-950 transition-colors duration-300"
            [class.!text-primary]="selectedTabIndex() === tab.value"
            [class.!border-primary]="selectedTabIndex() === tab.value"
          >
            {{ tab.label }}
          </button>
        }
      </div>
      <div class="flex-1 overflow-y-auto">
        @switch (selectedTabIndex()) {
          @case (0) {}
          @case (1) {
            @if (historyDetailStore.data(); as history) {
              @if (history.length > 0) {
                <cdk-virtual-scroll-viewport
                  #cdkViewport
                  itemSize="129"
                  class="h-full"
                >
                  <div
                    *cdkVirtualFor="let waypoint of history; let idx = index"
                  >
                    <app-history-card
                      [id]="idx"
                      [index]="idx"
                      [waypoint]="waypoint"
                      [isSelected]="false"
                    />
                  </div>
                </cdk-virtual-scroll-viewport>
              } @else {
                <app-data-state state="empty" />
              }
            } @else {
              <app-data-state state="empty" />
            }
          }
        }
      </div>
    </div>
  </ng-template>
</app-split-panel>
