<div class="h-full-main-layout">
  <app-split-panel>
    <ng-template #leftContent>
      <div class="h-full w-full absolute top-0 left-0">
        <app-vehicle-history-map
          [formattedHistory]="formattedHistory()"
          [historyChargeRanges]="historyChargeRanges()"
          [historyStopRanges]="historyStopRanges()"
          [(isHistoryPlaying)]="isHistoryPlaying"
          [(currentPlayingIndex)]="currentPlayingIndex"
          [batteryPercentageInterval]="batteryPercentageInterval()"
          [selectedWaypoint]="selectedWaypoint()"
        />
      </div>
    </ng-template>

    <ng-template #rightContent>
      <app-history-panel
        [connection]="connectionStore.data() ?? []"
        [(isHistoryPlaying)]="isHistoryPlaying"
        [(selectedPlayingSpeed)]="selectedPlayingSpeed"
        [(currentPlayingIndex)]="currentPlayingIndex"
        [(batteryPercentageInterval)]="batteryPercentageInterval"
      />
    </ng-template>
  </app-split-panel>
</div>
