.leaflet-control {
  border: none !important;
  box-shadow: 0 2px 4px rgba(165, 163, 174, 0.3) !important;
  margin-top: 8px !important;
  margin-right: 8px !important;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 36px;
  height: 36px;
  border-radius: 6px;
}

.leaflet-control-layers {
  border-radius: 6px;
}

.leaflet-touch .leaflet-bar a {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* .dark {
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-layers-toggle,
  .leaflet-control-layers-expanded,
  .leaflet-control-custom-button {
    background-color: var(--surface-50) !important;
    color: var(--surface-900) !important;

    &:hover {
      background-color: var(--surface-100) !important;
    }

    &.leaflet-disabled {
      background-color: var(--surface-100) !important;
    }
  }

  .leaflet-container {
    background: var(--surface);
  }
} */

.splitter-map .leaflet-top.leaflet-right {
  margin-top: 44px;
}

/* popup */
.leaflet-popup {
  .leaflet-popup-content-wrapper {
    overflow: hidden;
    border-radius: 4px;
    padding: 0;

    .leaflet-popup-content {
      margin: 0;
    }
  }
}

/* .leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: var(--surface-50) !important;
  color: var(--surface-900) !important;
  border-color: var(--surface-50) !important;
} */

/* tooltip */
.leaflet-tooltip {
  padding: 4px;
  /* background-color: var(--surface-50) !important;
  color: var(--surface-900) !important;
  border-color: var(--surface-50) !important; */
}

.leaflet-tooltip-top::before {
  /* border-top-color: var(--surface-50) !important; */
}

.leaflet-tooltip-bottom::before {
  /* border-bottom-color: var(--surface-50) !important; */
}

.btn__leaflet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  font-size: 1rem;
  background-color: white;
  border-radius: 6px;
  color: #000;
  cursor: pointer;
  font-weight: 800;
  background-clip: padding-box;
  padding: 0;
  box-shadow: 0 2px 4px rgba(165, 163, 174, 0.3) !important;

  &:hover {
    background-color: #f0f0f0;
  }
}

/* car marker using css sprites */
.car-marker {
  width: 20px;
  height: 39px;
  background-image: url("/images/map/car_sprites.png");
  background-repeat: no-repeat;
}

.bg-car_overspeed {
  background-position: -10px -10px;
}

.bg-car_running {
  background-position: -50px -10px;
}

.bg-car_stop {
  background-position: -90px -10px;
}

.bg-car_park {
  background-position: -10px -69px;
}

.bg-car_disconnected {
  background-position: -50px -69px;
}

.bg-car_offline {
  background-position: -90px -69px;
}

.dot-marker {
  width: 12px;
  height: 12px;
  background-image: url("/images/map/dot_sprites.png");
  background-repeat: no-repeat;
}

.bg-dot_overspeed {
  background-position: -10px -10px;
}

.bg-dot_running {
  background-position: -42px -10px;
}

.bg-dot_park {
  background-position: -10px -42px;
}

.bg-dot_disconnected {
  background-position: -42px -42px;
}

.bg-dot_stop {
  background-position: -74px -10px;
}

.bg-dot_offline {
  background-position: -74px -42px;
}
